name: CI/CD

on:
  push:
  pull_request:

jobs:
  CI-CD:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@devlab-io'

      - name: Install dependencies
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn install --frozen-lockfile

      - name: Build all packages
        run: yarn build

      - name: Check code formatting
        run: yarn format:check

      - name: Run linter
        run: yarn lint:check

      - name: Type check
        run: yarn type-check

      - name: Run tests
        run: yarn test
